
.price{
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px;
    line-height: 14px;
    color: #212121;
    display: block;
    font-family: "Source Sans Pro", Sans-serif;
}




.post-title{
    color: #252930;
    font-size: 1.4em;
    line-height: 1.2em;
    margin-top: 10px;
    min-height: 2.4em;
    font-weight: 900;
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;
}
.caption{
    margin: 25px 0px;
    font-size: 15px;
    /* //line-height: 1.5em; */
    color: #7C7E82;
    max-height: inherit;
    overflow: hidden;
    font-family: "Montserrat", Sans-serif;
}
.post-list{
    margin-top: 25px;
    box-shadow: 0px 0px 0px 1px #ebb431;
    border-radius: 4px;
    -webkit-transition: 0.3s margin linear;
    -moz-transition: 0.3s margin linear;
    -ms-transition: 0.3s margin linear;
    -o-transition: 0.3s margin linear;
    transition: 0.3s margin linear;
    max-width: 100%;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    font-family: "Montserrat", Sans-serif;
}

#filters-container hr{
    color:#EBB531 ;
    opacity: .8;

}

.programas .title-post{
    font-weight:600; 
    margin-left:0px; 
    font-size:1.2em;
    font-family: "Montserrat", Sans-serif;
}

.programas-img{
    height:80px;
    display:block;
    margin:auto;
}

.programas .title-img{
    text-align:center;
    font-weight: bold;
    line-height: initial;
}
.r-programas{
    height: auto;	
    cursor: pointer;
}
.post-list .caption {
    padding: 10px 10px 10px 10px;
}
.title-universiad{
    color: #313e47;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 0.9em;
    line-height: initial;
    letter-spacing: 0;
    text-align: center;
}
.form-select{
    border-color: #212121 !important;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
.select2-container--default .select2-selection--single{
    border-radius: 8px;
    border: 1px solid #212121;
}

.form-range::-webkit-slider-thumb{
    background-color: #81c7bd;
}
.form-range::-webkit-slider-thumb:active{
    background-color: #80c7bcab;
}
.form-range:focus::-webkit-slider-thumb{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(141 205 195);
}
/* multi range */
.middle {
	position: relative;
    width: 100%;
    display: none;
}

.slider-c {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider-c > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #aee7df;
}
.slider-c > .range {
	position: absolute;
	z-index: 2;
	left: 0%;
	right: 0%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #80c7bc;
}
.slider-c > .thumb {
	position: absolute;
	z-index: 3;
    width: 30px;
	height: 30px;
	background-color: #80C7BC;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 238, 206, 0.1);
	transition: box-shadow .3s ease-in-out;
}
.slider-c > .thumb.left {
	left: 0%;
    transform: translate(-15px, -10px);
}
.slider-c > .thumb.right {
	right: 0%;
    transform: translate(15px, -10px);
}
.slider-c > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(0, 238, 206, 0.1);;
}
.slider-c > .thumb.active {
	box-shadow: 0 0 0 40px rgba(0, 238, 206, 0.1);;
}
.thumb > label{
    position: absolute;
    top: 2em;
    right: -0.5em;
    font-size: 0.8em;;
}
#nice-busqueda{
    font-size: 1.5em;
    font-weight: 500;
    color: #212529;
    border-color: #81c6bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nice-busqueda:hover, #nice-busqueda:active{
    border-color: #81c6bb;
    background-color: transparent;
}
.toggle-filters >img{
    width: 1em;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;  
    transform: rotate(180deg);
}
.toggle-filters >img.active{
    transform: rotate(0deg);    
}

.select2-container {
    margin: 1rem 0 0 0;
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	/* -webkit-appearance: none; */
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}
/* end range */
.btn-primary, .btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover, .btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color:#EBB431;
    border-color:#EBB431;
}
.btn-primary:hover{
    color: #252930;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #FBF0D5 !important;
}
.btn-group{
    margin: 10px 0px;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
    box-shadow: 0 0 0 0.25rem rgb(128 199 188 / 52%);
}
.btn-primary.disabled, .btn-primary:disabled{
    background-color: #80c7bc47;
    border-color: transparent;
}
.price-input-lable{
    margin-right: -15px;
    padding: 6px 5px;
    color:#252930 ;
}
.price-input{
    border: 1px solid #252930 !important;
    border-radius: 4px !important;
    background: transparent !important;
    color: #252930 !important;
    font-size: inherit !important;
    height: auto !important;
    width: 100% !important;
    padding: 8px 15px;
    /* text-align: center; */
}
.dark-text{
    color: #252930;
}

.twitter-typeahead{
    width: 100% !important;
}
.tt-menu{
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%); 
    
}
.tt-suggestion{
    padding: 0.25em 2.5em;
    line-height: 24px;
}
.suggestion-container{
    display: flex;
    flex-direction: column;
}
.suggestion-container small{
    font-size: .75em;
    margin-top: -0.5em;
}
.suggestion-country{
    text-transform: capitalize;
}
.tt-suggestion:hover{
    cursor: pointer;
    color: #fff;
    background-color: #81c7bdb8;
}
.tt-dataset > label{
    margin-left: 1.5em;
    font-weight: bold;
    /* border-bottom: 1px solid #ccc */
}
.tt-dropdown-menu {
    overflow-y: auto;
  }
.margin-initial{
    margin-right: 0.25em !important;
    margin-top: -2em;
    margin-bottom: 2.5em;
}

input::-webkit-input-placeholder{
 color: #bbb9b9 !important;
 /* text-align: center; */
 font-size: 0.7em;
}
#loader-disciplinas-text{
    position: absolute;
    bottom: 0.7em;
    right: 1.5em;
    display: none;
}
.spinner-border{
    border: .1em solid #81c6bb;
    border-right-color:transparent;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) {
    #nice-busqueda{
        font-size: 1.5em;
        font-weight: 500;
        color: #212529;
        border-color: transparent;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .programas .title-post{
        text-align:left;
    }
    .r-programas{
        height: 18.5em;
        overflow:hidden;
        justify-content: center;
        align-items: center;
    }
    .post-list .caption {
        padding: 0px 0px 0px 0px;
    }
}

@media (min-width: 1200px) {  }
